<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">My name is Jeremy Cunningham and I'm sure you know that by now but I hope you find myself to be a valuable asset to whom or what it may be!</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>